body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}


/* index.js css  start*/

/* .main{
  display: grid;
  grid-template-columns: 80px 300px auto ;
}
.main .inner-main1{
  background-color: #f8f7f7;
  height: 100vh;
  overflow-y: auto;
}
.inner-main1::-webkit-scrollbar{
  display: none;
}



/* index.js css end here */

/* 
.user-profile-div{
  background-color: #1e1e1e;
  color: white;
  width: 80px;
  height: 100vh;
  display: grid;
  display: grid;
  grid-template-rows: 60px auto 100px;
}

.user-profile-div .top{
  display: grid;
  place-items: center;
  border: transparent;
}

.top img{
  border-radius: 50%;
  border: transparent;
  background-color: wheat;
  width: 40px;
  height: 40px;
}

.user-profile-div div{
  /* border: 1px solid white; 
  color: white;
  
}
ul{
  list-style: none;
  display: grid;
  place-items: center;
}

ul li{
  margin-top: 1.5rem;
}

ul li a{
  color: white;
  text-decoration: none;
}

ul li a i{
  font-size: 2rem ;
} 



/*  user css start here   */

.User-box{

  display: grid;
  grid-template-rows: repeat(1, 50px);
  padding: 10px 0 0 10px;
  border: 1px solid rgba(128, 128, 128, 0.507);
  grid-row-gap: 20px;
  grid-template-columns: 55px auto;
  background-color: rgb(255, 245, 225);

  grid-auto-rows: 50px ;
  
}

.User-box img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/*  user css start here   */


/* message box css start here */


.message-box{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 90px auto 90px;
}
.message-box > div{
  border: 2px solid rgb(32, 32, 32);
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .top-left{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.top .top-left img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.top .top-right ul{
  list-style: none ;
  display: flex;
}
ul li{
  margin-right: 20px;
}

.middle{
  /* display: flex; */

}
.middle .middle-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
}
.middle .middle-right{
  width: 50%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}














.right {
  float: right;
  border-radius: 15px 15px 0 15px;
  /* background-image: linear-gradient(315deg, #ff85f5 0%, #bb1dff 74%); */
  background-color: rgb(86, 101, 115);
}
.left {
  float: left;
  border-radius: 15px 15px 15px 0;
  /* background-image: linear-gradient(315deg, #9397f7 0%, #db8bfd 74%); */
  background-color: rgb(10, 10, 10);
  border: 2px solid rgb(86, 101, 115);
}
























.bottom form{
  display: grid;
  grid-template-columns: auto 80px;
  grid-gap: 20px;
  margin: 20px 60px;
  
}
.bottom input[type="text"]{
  background-color: rgb(177, 177, 177);
}




/* message box css start here */







/* message css start here */
.message{
  /* max-width: 60%;
  display: inline;
  background-color: brown;
  color: aliceblue;
  padding: .4rem 1rem;
  margin: 10px;
  border-radius: 10px; */


  padding: 8px 10px 8px 10px;
  margin: 5px;
  display: table;
  clear: both;
  max-width: 80%;
  color: white;
}


/* message css start here */
